### LIST

In [3]:
# collection of data in same category
bio_data = ['Dawood', 'Student', '9 to 12']
bio_data

['Dawood', 'Student', '9 to 12']

### Tuples

- Lists are mutable (can be changed)
- Tuples are immutable (can not be changed)

In [6]:
tp_bio_data = ('Dawood', 'Student','9 to 12')
tp_bio_data

('Dawood', 'Student', '9 to 12')

In [7]:
type(tp_bio_data)

tuple

In [12]:
lst = [1]
print(type(lst))

tp = (1)
print(type(tp))

# here python is  confused what tp is that's why it is showing int randomly

<class 'list'>
<class 'int'>

In [11]:
tp = (1,)
print(type(tp))

<class 'tuple'>

In [13]:
tp_bio_data[1]

'Student'

In [21]:
# count() method takes one argument and print the occurence of the argument
# argument type can be any and return num
tp_bio_data.count('Dawood')

1

In [24]:
#index() method takes one argument and print the index value of it

tp_bio_data.index('Dawood')

0

In [26]:
personal_bio = ('Dawood',19,'5.7 feet',19)
print(personal_bio.index(19))
print(personal_bio.count(19))

1
2

In [35]:
"""
for <temp_var> in <iterator>:
        <body> """

'\nfor <temp_var> in <iterator>:\n        <body> '

In [36]:
fruits = ['Apple', 'Mango', 'Grapes', 'Banana', 'Orange', 'Strawberry','Melon']
#printing through loops

for fruit in fruits:
    print(fruit)

Apple
Mango
Grapes
Banana
Orange
Strawberry
Melon

### Loops

In [37]:
# loops on tuples
for data in tp_bio_data:
    print(data)

Dawood
Student
9 to 12

In [43]:
for index in range(len(tp_bio_data)):
    print(f"Data: {tp_bio_data[index]}, data is at {index}")

Data: Dawood, data is at 0
Data: Student, data is at 1
Data: 9 to 12, data is at 2

In [44]:
em_fruits = enumerate(fruits)
em_fruits

In [45]:
list(em_fruits)

[(0, 'Apple'),
 (1, 'Mango'),
 (2, 'Grapes'),
 (3, 'Banana'),
 (4, 'Orange'),
 (5, 'Strawberry'),
 (6, 'Melon')]

In [48]:
for fruit in enumerate(fruits):
    print(fruit)

(0, 'Apple')
(1, 'Mango')
(2, 'Grapes')
(3, 'Banana')
(4, 'Orange')
(5, 'Strawberry')
(6, 'Melon')

In [52]:
for fruit in enumerate(fruits):
    print(f"{fruit[1]} is at {fruit[0]} index")

Apple is at 0 index
Mango is at 1 index
Grapes is at 2 index
Banana is at 3 index
Orange is at 4 index
Strawberry is at 5 index
Melon is at 6 index

In [54]:
fruits

['Apple', 'Mango', 'Grapes', 'Banana', 'Orange', 'Strawberry', 'Melon']

In [55]:
fruits_index = [0,1,2,3,4,5,6]
print(fruits_index)
print(fruits)

[0, 1, 2, 3, 4, 5, 6]
['Apple', 'Mango', 'Grapes', 'Banana', 'Orange', 'Strawberry', 'Melon']

In [56]:
#for merging both the indext and fruits

zip(fruits_index, fruits)

In [58]:
for fruit in zip(fruits_index,fruits):
    print(fruit)

(0, 'Apple')
(1, 'Mango')
(2, 'Grapes')
(3, 'Banana')
(4, 'Orange')
(5, 'Strawberry')
(6, 'Melon')

In [62]:

# zip methods is to combine two lists or tuples
# only paired values will be printed if any one has more value than the other list or tuples


fruits_index = [1,2,5,66,5,2,3,5]
for fruit in zip(fruits_index,fruits):
    print(fruit)

(1, 'Apple')
(2, 'Mango')
(5, 'Grapes')
(66, 'Banana')
(5, 'Orange')
(2, 'Strawberry')
(3, 'Melon')

In [68]:
#generator is a range() function that remembers the previous state
# first argument is the start and included
# second argment is the stopped value and not included
# third and last argument is the step value 
for temp in range(6):
    print(temp)

0
1
2
3
4
5

In [65]:
for temp in range(2,8):
    print(temp)

2
3
4
5
6
7

In [66]:
for temp in range(2,21,2):
    print(temp)

2
4
6
8
10
12
14
16
18
20

In [70]:
for values in range(20,26,3):
    print(values)

Apple
Apple

In [71]:
for value in range(15):
    print("Apples")

Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples

In [75]:
print('Apples\n'*15)

Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples
Apples

In [96]:
clean_cities = ['Karachi', 'Lahore', 'Islamabad']
not_cleaned_cities=[]
print('Write city name:')
user_input = input()

for i in range(len(clean_cities)):
    if clean_cities[i] == user_input:
        print('City is cleaned')
        break
    else:
        print('Not cleaned cities')
        not_cleaned_cities.append(user_input)
        break

Write city name:

 quiete

Not cleaned cities
['quiete']

In [97]:
not_cleaned_cities

['quiete']

In [107]:
group_A = ['Karachi', 'Lahore', 'Islamabad']
group_B = ['Multan', 'Quetta', 'Peshawar']

for a in range(len(group_A)):
    for b in range(len(group_B)):
        print(group_A[a],' VS ',group_B[b]);
        if group_A[a] == group_B[b]:
                print('Matched');

Multan  VS  Multan
Matched
Multan  VS  Quetta
Multan  VS  Peshawar
Lahore  VS  Multan
Lahore  VS  Quetta
Lahore  VS  Peshawar
Islamabad  VS  Multan
Islamabad  VS  Quetta
Islamabad  VS  Peshawar

In [109]:
group_A = ['Karachi', 'Lahore', 'Islamabad']
group_B = ['Multan', 'Quetta', 'Peshawar']

for listA in group_A:
    for listB in group_B:
        print(listA, '  VS ', listB)

Karachi   VS  Multan
Karachi   VS  Quetta
Karachi   VS  Peshawar
Lahore   VS  Multan
Lahore   VS  Quetta
Lahore   VS  Peshawar
Islamabad   VS  Multan
Islamabad   VS  Quetta
Islamabad   VS  Peshawar

In [111]:
# casing can only be applied on string
#upper, lower, and title
'dawood'.upper()

'DAWOOD'

In [112]:
'DAWOOD'.lower()

'dawood'

In [113]:
'DAWooD'.title()

'Dawood'

In [114]:
'3'.lower()

'3'

In [126]:
#normal list
list = [15,15]

#dictionary
dict = {'age':15,'weight':19}
type(dict)

dict

### DICTIONARIES

- Key, value pairs
- key:value

In [127]:
# dict[1] error
dict['age']

19

In [128]:
customer = {'firstName':'Dawood','lastName':'Shaikh','address':'pechs karachi'};

customer['lastName']

'Shaikh'

In [129]:
#verstaility means you can change
#1-Keys can be a number
#values can be a number
#key and values an be both a number or string
dict_versitality ={1:'Qasim', 2:'Hasan',3:'Dawood'}
dict_versitality[3]

'Dawood'

In [134]:
dict_versitality ={'Qasim':1, 'Hasan':2, 'Dawood':3}
dict_versitality['Qasim']

1

In [135]:
customer

{'firstName': 'Dawood', 'lastName': 'Shaikh', 'address': 'pechs karachi'}

In [141]:
#adding values in dictionary
customer["phone"] = "+9234873927"
customer

{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'phone': '+9234873927'}

In [142]:
#adding city
customer['city'] = "Karachi"
customer

{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'phone': '+9234873927',
 'city': 'Karachi'}

In [148]:
# adding values in dictionary

list = {}
user_tasks = input('How many tasks you want to do today')

for values in range(int(user_tasks)):
    print("Enter task no:",values);
    list['Task '+str(values)]=input();

list

How many tasks you want to do today 3

Enter task no: 0

 cooking

Enter task no: 1

 reading

Enter task no: 2

 swimming

{'Task 0': 'cooking', 'Task 1': 'reading', 'Task 2': 'swimming'}

In [149]:
customer

{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'phone': '+9234873927',
 'city': 'Karachi'}

In [151]:
customer['city'] = "LA"
customer

{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'phone': '+9234873927',
 'city': 'LA'}

In [154]:
# to delete key value pair from dictionary , key can't be empty while deleting
#other wise it will generate an error

del customer['phone']
customer

KeyError: 'phone'

In [156]:
customer

{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'city': 'LA'}

In [157]:
# by default it will bring keys, and with keys() method as well
# for values we should use .values() method
# for both keys and values we can use .items() method
for key in customer:
    print(key)

firstName
lastName
address
city

In [160]:
for key in customer.keys():
    print(key)

firstName
lastName
address
city

In [161]:
for key in customer.values():
    print(key)

Dawood
Shaikh
pechs karachi
LA

In [162]:
for key in customer.items():
    print(key)

('firstName', 'Dawood')
('lastName', 'Shaikh')
('address', 'pechs karachi')
('city', 'LA')

In [165]:
for key,value in customer.items():
    print(key + ' --> ' +value)

firstName --> Dawood
lastName --> Shaikh
address --> pechs karachi
city --> LA

### List of Dictionaries

In [166]:
customer

{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'city': 'LA'}

In [168]:
listOfDict = [{'firstName': 'Dawood',
 'lastName': 'Shaikh',
 'address': 'pechs karachi',
 'city': 'Karachi'},{'firstName': 'Huzaifa',
 'lastName': 'Mateen',
 'address': 'MA Jinnah Road karachi',
 'city': 'Peshawar'},{'firstName': 'Qasim',
 'lastName': 'Hassan',
 'address': 'SMIT karachi',
 'city': 'Islamabad'}]

listOfDict

[{'firstName': 'Dawood',
  'lastName': 'Shaikh',
  'address': 'pechs karachi',
  'city': 'Karachi'},
 {'firstName': 'Huzaifa',
  'lastName': 'Mateen',
  'address': 'MA Jinnah Road karachi',
  'city': 'Peshawar'},
 {'firstName': 'Qasim',
  'lastName': 'Hassan',
  'address': 'SMIT karachi',
  'city': 'Islamabad'}]

In [171]:
#for list we'll pass index and for dictionary we pass key

for value in range(len(listOfDict)):
    print(listOfDict[value]['address'])

pechs karachi
MA Jinnah Road karachi
SMIT karachi